<section id="contact" class="contact">
  <span class="contact-title">Let's talk!</span>
  <span class="contact-description">Let's kick of your new project!</span>
  <form accept-charset="UTF-8" action="https://usebasin.com/f/d1b8da44ed54" method="POST">
    <label for="name">First and Last Name</label>
    <input type="text" name="name" placeholder="Freddie Mercury">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="f.mercury@example.com">
    <label for="messae">Message</label>
    <textarea name="message" rows="8" cols="80" placeholder="I want to work with you on my next project..."></textarea>
    <button>Send it!</button>
  </form>
</section>
