<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F7EDE2" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  </head>
  <body>
    <section class="wrapper">
    <header>
      <div class="title"><h1><a href="{{ site.url }}">{{ site.title }}</a></h1> <span class="description">— {{ site.description }}</span></div>
      <nav>
        <a href="#work">Work</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
