@font-face {
    font-family: 'Eksell Display Small';
    src: url('/assets/fonts/EksellDisplaySmall.woff2') format('woff2'),
        url('/assets/fonts/EksellDisplaySmall.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('/assets/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('/assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$system-font:  'Gilroy', sans-serif;
$heading-font: 'Eksell Display Small', serif;
